header {
    /* Fix header to the top of the page */
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;

    background-color: #afafaf;
    padding: 8px 10px 0 10px;
}

footer {
    /* Fix footer to the bottom of the page */
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;

    background-color: #afafaf;
    padding: 0 10px 0 10px;
    text-align: center;
}

main {
    margin-top: 90px; /* Should match the height of the header, but I added 10px to create some spacing */
    margin-bottom: 70px; /* Should match the height of the footer, but I added 10px to create some spacing */
    overflow: auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Aldrich', sans-serif;
}

.name {
    margin-left: 10px;
    margin-bottom: 0px;
}
.slogan {
    margin-left: 10px;
    font-style: italic;
}

div.hover-menu {
    z-index: 100;
    background-color: pink;
    height: 100vh;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

div.hover-menu.show {
    display: inline;;
}

div.hover-menu:hover {
    display: inline;
}