<header>
    <h2>
        <button class="btn btn-link" (click)="toggleNav()"><i class="fas fa-bars"></i></button> 
        Brand X RnD
    </h2>
</header>

<main class="container-fluid">
    <div class="row">
        <div [className]="showNav ? 'col-md-2' : 'd-none'">
            <app-navigation></app-navigation>
        </div>
        <div [className]="showNav ? 'col-md-10' : 'col-md-12'">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<footer>
    This is a footer
</footer>
