<header>
    <button class="btn btn-light float-left" (click)="toggleNav()"><i class="fas fa-bars"></i></button>
    <div class="float-left">
        <h2 class="name">Brand X RnD</h2>
        <span class="slogan d-none d-lg-block">Bringing darker days to a brighter future...</span>
    </div>

    <button class="float-right" (click)="showHoverMenu()">???</button>
</header>

<main class="container-fluid">
    <div class="row">
        <div [className]="showNav ? 'col-md-2' : 'd-none'">
            <app-navigation></app-navigation>
        </div>
        <div [className]="showNav ? 'col-md-10' : 'col-md-12'">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>

<footer>
    <i class="far fa-copyright"></i> Brand X Research and Development 2018 - All rights reserved
</footer>

<div [className]="showHover ? 'hover-menu show' : 'hover-menu'">
    ???
</div>